<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudao.cloud.module.catelog.dao.mapper.CatelogDTOMapper">
  <resultMap id="BaseResultMap" type="com.sudao.cloud.module.catelog.dao.dto.CatelogDTO">
    <id column="catelog_id" jdbcType="BIGINT" property="catelogId" />
    <result column="catelog_icon" jdbcType="VARCHAR" property="catelogIcon" />
    <result column="catelog_name" jdbcType="VARCHAR" property="catelogName" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="disable_status" jdbcType="BIT" property="disableStatus" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="created_by_id" jdbcType="BIGINT" property="createdById" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="updated_by_id" jdbcType="BIGINT" property="updatedById" />
    <result column="updated_time" jdbcType="BIGINT" property="updatedTime" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    catelog_id, catelog_icon, catelog_name, type, disable_status, status, created_by_id, 
    created_time, updated_by_id, updated_time, last_update
  </sql>
  <select id="selectByExample" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cloud_component_catelog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cloud_component_catelog
    where catelog_id = #{catelogId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cloud_component_catelog
    where catelog_id = #{catelogId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTOExample">
    delete from cloud_component_catelog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTO">
    insert into cloud_component_catelog (catelog_id, catelog_icon, catelog_name, 
      type, disable_status, status, created_by_id, 
      created_time, updated_by_id, updated_time, 
      last_update)
    values (#{catelogId,jdbcType=BIGINT}, #{catelogIcon,jdbcType=VARCHAR}, #{catelogName,jdbcType=VARCHAR}, 
      #{type,jdbcType=BIT}, #{disableStatus,jdbcType=BIT}, #{status,jdbcType=BIT}, #{createdById,jdbcType=BIGINT}, 
      #{createdTime,jdbcType=BIGINT}, #{updatedById,jdbcType=BIGINT}, #{updatedTime,jdbcType=BIGINT}, 
      #{lastUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTO">
    insert into cloud_component_catelog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catelogId != null">
        catelog_id,
      </if>
      <if test="catelogIcon != null">
        catelog_icon,
      </if>
      <if test="catelogName != null">
        catelog_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="disableStatus != null">
        disable_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdById != null">
        created_by_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedById != null">
        updated_by_id,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="lastUpdate != null">
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catelogId != null">
        #{catelogId,jdbcType=BIGINT},
      </if>
      <if test="catelogIcon != null">
        #{catelogIcon,jdbcType=VARCHAR},
      </if>
      <if test="catelogName != null">
        #{catelogName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="disableStatus != null">
        #{disableStatus,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createdById != null">
        #{createdById,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updatedById != null">
        #{updatedById,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdate != null">
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTOExample" resultType="java.lang.Long">
    select count(*) from cloud_component_catelog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cloud_component_catelog
    <set>
      <if test="record.catelogId != null">
        catelog_id = #{record.catelogId,jdbcType=BIGINT},
      </if>
      <if test="record.catelogIcon != null">
        catelog_icon = #{record.catelogIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.catelogName != null">
        catelog_name = #{record.catelogName,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=BIT},
      </if>
      <if test="record.disableStatus != null">
        disable_status = #{record.disableStatus,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createdById != null">
        created_by_id = #{record.createdById,jdbcType=BIGINT},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=BIGINT},
      </if>
      <if test="record.updatedById != null">
        updated_by_id = #{record.updatedById,jdbcType=BIGINT},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastUpdate != null">
        last_update = #{record.lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cloud_component_catelog
    set catelog_id = #{record.catelogId,jdbcType=BIGINT},
      catelog_icon = #{record.catelogIcon,jdbcType=VARCHAR},
      catelog_name = #{record.catelogName,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=BIT},
      disable_status = #{record.disableStatus,jdbcType=BIT},
      status = #{record.status,jdbcType=BIT},
      created_by_id = #{record.createdById,jdbcType=BIGINT},
      created_time = #{record.createdTime,jdbcType=BIGINT},
      updated_by_id = #{record.updatedById,jdbcType=BIGINT},
      updated_time = #{record.updatedTime,jdbcType=BIGINT},
      last_update = #{record.lastUpdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTO">
    update cloud_component_catelog
    <set>
      <if test="catelogIcon != null">
        catelog_icon = #{catelogIcon,jdbcType=VARCHAR},
      </if>
      <if test="catelogName != null">
        catelog_name = #{catelogName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="disableStatus != null">
        disable_status = #{disableStatus,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createdById != null">
        created_by_id = #{createdById,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updatedById != null">
        updated_by_id = #{updatedById,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=BIGINT},
      </if>
      <if test="lastUpdate != null">
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where catelog_id = #{catelogId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTO">
    update cloud_component_catelog
    set catelog_icon = #{catelogIcon,jdbcType=VARCHAR},
      catelog_name = #{catelogName,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      disable_status = #{disableStatus,jdbcType=BIT},
      status = #{status,jdbcType=BIT},
      created_by_id = #{createdById,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=BIGINT},
      updated_by_id = #{updatedById,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=BIGINT},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where catelog_id = #{catelogId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.sudao.cloud.module.catelog.dao.dto.CatelogDTOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cloud_component_catelog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>