<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudao.cloud.module.idea.dao.mapper.PlanContextDTOMapper">
  <resultMap id="BaseResultMap" type="com.sudao.cloud.module.idea.dao.dto.PlanContextDTO">
    <id column="context_id" jdbcType="BIGINT" property="contextId" />
    <result column="plan_id" jdbcType="BIGINT" property="planId" />
    <result column="context_type" jdbcType="VARCHAR" property="contextType" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="created_by_id" jdbcType="BIGINT" property="createdById" />
    <result column="created_time" jdbcType="BIGINT" property="createdTime" />
    <result column="updated_by_id" jdbcType="BIGINT" property="updatedById" />
    <result column="updated_time" jdbcType="BIGINT" property="updatedTime" />
    <result column="lastUpdate" jdbcType="TIMESTAMP" property="lastupdate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    context_id, plan_id, context_type, value, display_order, status, created_by_id, created_time, 
    updated_by_id, updated_time, lastUpdate
  </sql>
  <select id="selectByExample" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kz_plan_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kz_plan_context
    where context_id = #{contextId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kz_plan_context
    where context_id = #{contextId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTOExample">
    delete from kz_plan_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTO">
    insert into kz_plan_context (context_id, plan_id, context_type, 
      value, display_order, status, 
      created_by_id, created_time, updated_by_id, 
      updated_time, lastUpdate)
    values (#{contextId,jdbcType=BIGINT}, #{planId,jdbcType=BIGINT}, #{contextType,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{displayOrder,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{createdById,jdbcType=BIGINT}, #{createdTime,jdbcType=BIGINT}, #{updatedById,jdbcType=BIGINT}, 
      #{updatedTime,jdbcType=BIGINT}, #{lastupdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTO">
    insert into kz_plan_context
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contextId != null">
        context_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="contextType != null">
        context_type,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdById != null">
        created_by_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedById != null">
        updated_by_id,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="lastupdate != null">
        lastUpdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contextId != null">
        #{contextId,jdbcType=BIGINT},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        #{contextType,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createdById != null">
        #{createdById,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updatedById != null">
        #{updatedById,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=BIGINT},
      </if>
      <if test="lastupdate != null">
        #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTOExample" resultType="java.lang.Long">
    select count(*) from kz_plan_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update kz_plan_context
    <set>
      <if test="record.contextId != null">
        context_id = #{record.contextId,jdbcType=BIGINT},
      </if>
      <if test="record.planId != null">
        plan_id = #{record.planId,jdbcType=BIGINT},
      </if>
      <if test="record.contextType != null">
        context_type = #{record.contextType,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null">
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.displayOrder != null">
        display_order = #{record.displayOrder,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createdById != null">
        created_by_id = #{record.createdById,jdbcType=BIGINT},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=BIGINT},
      </if>
      <if test="record.updatedById != null">
        updated_by_id = #{record.updatedById,jdbcType=BIGINT},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=BIGINT},
      </if>
      <if test="record.lastupdate != null">
        lastUpdate = #{record.lastupdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update kz_plan_context
    set context_id = #{record.contextId,jdbcType=BIGINT},
      plan_id = #{record.planId,jdbcType=BIGINT},
      context_type = #{record.contextType,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=VARCHAR},
      display_order = #{record.displayOrder,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      created_by_id = #{record.createdById,jdbcType=BIGINT},
      created_time = #{record.createdTime,jdbcType=BIGINT},
      updated_by_id = #{record.updatedById,jdbcType=BIGINT},
      updated_time = #{record.updatedTime,jdbcType=BIGINT},
      lastUpdate = #{record.lastupdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTO">
    update kz_plan_context
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        context_type = #{contextType,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createdById != null">
        created_by_id = #{createdById,jdbcType=BIGINT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updatedById != null">
        updated_by_id = #{updatedById,jdbcType=BIGINT},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=BIGINT},
      </if>
      <if test="lastupdate != null">
        lastUpdate = #{lastupdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where context_id = #{contextId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTO">
    update kz_plan_context
    set plan_id = #{planId,jdbcType=BIGINT},
      context_type = #{contextType,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      created_by_id = #{createdById,jdbcType=BIGINT},
      created_time = #{createdTime,jdbcType=BIGINT},
      updated_by_id = #{updatedById,jdbcType=BIGINT},
      updated_time = #{updatedTime,jdbcType=BIGINT},
      lastUpdate = #{lastupdate,jdbcType=TIMESTAMP}
    where context_id = #{contextId,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.sudao.cloud.module.idea.dao.dto.PlanContextDTOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kz_plan_context
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>